@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}
body, h2, h4, form {
    margin: 0;
    padding: 0;
}


.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #333;
}

h4 {
    margin-top: 20px;
    color: #555;
}

form {
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}
.scoreboard {
    margin: 4px 0;
    padding: 10px;
    background-color: #4CAF50;
    text-align: center;
    border-radius: 10px;
}

.scoreboard a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}




